@model List<PortfolioCore.Entities.Experience>

@{
    Layout = null;
}

<h2>Deneyimler</h2>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Alt Başlık</th>
            <th>Tarih</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ExperienceId</td>
                <td>@item.Title</td>
                <td>@item.SubTitle</td>
                <td>@item.ExperienceDate</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>

